// app global css in SCSS form
@font-face {
  font-family: Ovo;
  src: url(../fonts/Ovo_Regular.17.ttf);
}

@font-face {
  font-family: AlegreyaSC;
  src: url(../fonts/Alegreya_Sans_SC_Regular.20.ttf);
}

@font-face {
  font-family: AlegreyaBlack;
  src: url(../fonts/Alegreya_Black.29.ttf);
}

* {
  font-family: 'Ovo';
  font-weight: 500;
}

.q-tab__label {
  font-family: 'AlegreyaSC';
  font-weight: bold;
}

.pull-quote {
  font-family: 'AlegreyaBlack';
}

.page-content,
.inventory-content {
  font-size: large;
  font-weight: 500;
}

.heading,
.q-item__label {
  font-family: 'AlegreyaSC';
  font-weight: bold;
}

.abl-text .text-block p {
  display: block;
}

.abl-text .text-block p:first-of-type {
  display: inline;
}

.ap-cost-box {
  color: white;
  font-weight: bold;
  background-color: black;
  padding: 2px 20px 2px 5px;
  border-radius: 3px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  cursor: pointer;
  margin-right: 0.5em;
}

.dmg-box {
  color: red;
  font-weight: bold;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
  border: 2px solid red;
}
